.ipynb_checkpoints
.vscode
__pycache__
F_MNIST_data
Cat_Dog_data
02_convolutional-neural-networks/03_cifar-cnn/data
*.pth
*.pt
02_convolutional-neural-networks/03_cifar-cnn/model_cifar.pt
04_recurrent-neural-networks/02_char-rnn/rnn_x_epoch.net
04_recurrent-neural-networks/02_char-rnn/data/anna_rus.txt
